
# ==========================
# Maven
# ==========================
target/

# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# Eclipse
# ==========================
.project
.classpath
.settings/

# ==========================
# Temporary & Log Files
# ==========================
tempCodeRunnerFile.java
*.log
*.tmp

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db
